

/* .container-fluid {
    border : 2px solid blue;
} */

.container {
    border : 2px solid blue;
}

a {
    color : white;
}

.logo img {
    height : 70px;
    width : 80px;
}

.email-symbol {
    font-size : 20px;
}

.nav-item  {
    border-right: 2px solid rgb(83, 172, 210);
    padding: 2px;
}

.nav-item:hover {
    transition : all .7s ease-out;
    -webkit-box-shadow: 10px 10px 20px -11px rgba(41, 159, 202, 0.75);
    -moz-box-shadow: 10px 10px 20px -11px rgba(41, 159, 202, 0.75);
    box-shadow: 10px 10px 20px -11px rgba(41, 159, 202, 0.75);
}

.nav-link {
    color : white;
    font-size : 20px;
}

.dropdown-menu:hover {
    color : black !important;
}

.carousel {
    position : absolute;
    left: 0;
    top : 18%;
    width : 100%;
}

.carousel-item  img {
    height : 500px;
}

/* about section */
.about-section {
    margin : 80px 0px;
}

