
*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}
/* 
nav {
    height : 70px;
} */
.navbar {
    /* padding : 40px 15px; */
}
.nav-item {
    padding : 20px;
}
.nav-item a {
    color : red;
}
.nav-link {
    color : red;
}

ul li {
    list-style-type: none;

}
header {
    height : 40px;
    width : 100%;
    background-color: black;
    display : flex; 
    justify-content: space-between;
    align-items: center;
    font-size : 20px;
    padding : 10px;
    color : white;
}

/* nav */ 
/* listing styles */
.abt-heading,
.abt-heading ~ p {
    font-weight: 700;
}
.list-title {
    position : relative;
    font-size : 18px;
    
}  

.list-title li {
    font-size : 20px;
    font-weight: 700;
}

.list-title li::after{
    content : '';
    position : absolute;
    height : 10px;
    width : 10px;
    left : 0;
    top : 30%;
    background : #d82226;
    border-radius: 50%;
}


header img {
    height : 70px;
    width : 70px;
}

nav img {
    height : 70px;
    width : 80px;
}

.carousel-item img {
    /* width : 100%; */
    height : 700px;
}
.about-heading {
    position: relative;
}

.shadow-text{
    width : 100%;
    font-size : 100px;
    position : absolute;
    z-index: -1;
    line-height: 170px;
    color: rgb(236, 227, 227);
    top : 0%;
    right : 10%;
    text-align: right;
    font-family: 'Poppins', sans-serif;
}   
.shadow-text h1 {
    font-size : 130px;
    line-height: 120px;
}

.about-section {
    margin-top : 50px;
    font-size : 20px;
    padding : 20px;
    line-height: 2.5rem;
}
.product {
    position : relative;
}

/* product section */
.prd-heading {
    width : 100%;
    margin-left: auto;
}


/* cards section */

.card-img-top {
    height : 50%;
    width : 30%;
    margin : auto;
    margin-top: 10px;
    min-height : 300px;
}

/* contact us */

.contact {
    position : relative;
}


.contact .shadow-text {
    top : -7%;
}
.contact-heading div {
    font-size : 40px;
}
figure img{
    height : 100px;  
    width : 100px;
}
.phone_logo span{
    font-size : 40px;
    color : blue;
}
footer h3 {
    margin : 0px;
}


/* whatsapp */
.whatsapp {
    display: flex;
    height : 60px;
    width : 60px;
    position : fixed;
    right : 1%;
    bottom : 5%;
    background-color: green;
    color : white;
    border-radius: 50%;
    opacity : 0.4;
    justify-content: center;
    align-items: center;
}
.whatsapp a{
    color : white;
}
.fa-brands {
    
    font-size : 40px;
}
.whatsapp:hover {
    transition: .5s ease;
    opacity : 1;
}
.facebook {
    display: flex;
    height : 60px;
    width : 60px;
    position : fixed;
    right : 1%;
    bottom : 15%;
    background-color: blue;
    color : white;
    border-radius: 50%;
    opacity : 0.5;
    justify-content: center;
    align-items: center;
}
.facebook a {
    color : white;
}
.facebook:hover {
    transition: .5s ease;
    opacity : 1;
}
/* about page */
.company-section {
    background-color: rgb(241,241,241);
    padding-top: 50px;
    padding-bottom : 100px;
    font-size : 70px;
    position : relative;
    /* z-index: ; */
}
.company-heading {
    position : relative;
    z-index: 99;
}

.shadow-text2{
    color : rgb(250, 189, 189);
    position : absolute;
    top : 0%;
    left : 30%;
    font-size : 150px;
    z-index: 0;

}
.about-image {
    width : 50%;
    margin : auto;
    
}   
.about-image img {
    height : 500px;
    width : 700px;
    
}
.paras {
    font-size : 20px;
    font-weight : 400;
    font-family: 'Poppins';
    line-height: 2.14rem;
    font-family: 'Tilt Neon', cursive;
}
.about-btn {
    margin : 20px;

}
/* contact section  */
.contact .shadow-text2{
    left : 25%;
}

/* map */
.map iframe{
    height : 700px;
    width : 100%;
}

/* house of filco */
.house-of-filco img{
    height : 300px;
    width: 300px;
}
/* media query */


@media (max-width: 575.98px) { 
    header {
        height : 70px;
        flex-direction: column;
    }
    .shadow-text{
        display: none;
    }
    .shadow-text2{
        display : none;
    }
    
    .about-image img {
        height : 300px;
        width : 400px;
    }

    .points {
        margin-top: 20px;
    }

    .card-img-top {
        height : 30%;
        width : 30%;
        margin : auto;
        margin-top: 10px;
    }
}

@media (max-width: 767.98px) {  

}


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {}


@media (max-width: 1399.98px) { }